@import "tailwindcss";

@theme {
  --color-primary: #6f0406;
  --color-secondary: #f9f4f4;

  /* Custom Font Sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;
  --font-size-8xl: 6rem;
  --font-size-9xl: 8rem;

  /* Custom Breakpoints */
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
}

.font-emirates {
  font-family: var(--font-emirates), sans-serif;
}


body {
  background-image: url("/elements/11.webp");
  background-color: var(--color-primary);
  background-position: center;
  background-size: 100% 100%;
  /* overflow-x: hidden; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


/* CKEditor 5 Custom Styles */
.ck-editor__editable {
  min-height: 400px;
}

.ck-content {
  font-family: inherit;
}

.ck-content h1 {
  font-size: 2em;
  font-weight: bold;
}

.ck-content h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.ck-content h3 {
  font-size: 1.25em;
  font-weight: bold;
}

.ck-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
}

.ck-content blockquote {
  border-left: 5px solid #ccc;
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.ck-content a {
  color: #4f46e5;
  text-decoration: underline;
}

/* globals.css */
.article-content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1.2em 0 0.6em;
}

.article-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1em 0 0.5em;
}

.article-content p {
  margin-bottom: 1em;
  line-height: 1.7;
  text-align: justify;
}

.article-content blockquote {
  /* border-left: 4px solid #ccc; */
  padding-left: 1em;
  color: #555;
  font-style: italic;
}

.article-content ul {
  list-style: disc;
  margin-left: 1.5em;
  margin-right: 2rem;
}

.article-content ol {
  list-style: decimal;
  margin-left: 1.5em;
}

.article-content img {
  max-width: 100%;
  border-radius: 0.5rem;
  margin: 1em 0;
}
